<%- include ("partials/header") %> 

<div class="container">
    <h1>Movie details for <strong><%= movie.Title %></strong> </h1>
</div>

<!-- Debug this page -->
<%- console.log(`URL Sent is ${url}`)  %> 
<!-- end debug -->
<%- include ("partials/footer") %> 