<%- include ("partials/header")  %> 

<div class="container" id="main-form">
    <h1>Search of a Movie!</h1>
    <form action="/results" method="get">
        <input type="text" placeholder="Search for a Movie Title" name="search">
        <input type="submit" value="SEARCH">
    </form>
</div>


<%- include ("partials/footer")  %> 